@import '../../styles/button';
@import '../../styles/reset';
@import '../../styles/variables';
@import '../../styles/input';

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body,
#root {
  height: 100%;
}

.board-item {
  background-color: $board-color;
  width: 100%;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
  @include custom-font;

  scrollbar-color: #fff6 #00000026;
  scrollbar-width: auto;
}

.add-list-button {
  @include button-style(35px, auto);
  display: inline-block;

  &:hover {
    opacity: 0.8;
  }
}

.title-container {
  padding-top: 20px;
  padding-left: 50px;
  background: rgba($color: #000000, $alpha: 0.2);
  width: 100%;
  height: 60px;
  display: block;
  color: white;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  input {
    @include input-styles(grey, #c8ddf3);
  }

  p {
    font-size: 20px;
  }
}

.board-menu-button-wrapper {
  width: 58px;
  height: 29px;
  display: flex;
  bottom: 10px;
  position: relative;
  top: -3px;
  cursor: pointer;
}

.form-change-color-container {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-size: 16px;

  @include center-flex;

  background: rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 45px;

  input {
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
  }
}

.lists-container {
  margin: 80px 0 0 50px;
}

.menu-button-hidden {
  display: none;
}

.title-wrapper {
  background: none;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 3px;
  transition: 0.3s all ease;
  cursor: pointer;

  &:hover {
    background: rgba(204, 204, 204, 0.5);
  }
}
.hidden {
  background: none;
  &:hover {
    background: none;
    cursor: auto;
  }
}
