.rename-add-card-form {
  input {
    background: #d5f0d9;
    border: none;
    outline: none;
    border-color: #7699dd;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    font-size: inherit;

    &:focus {
      background: #d5f0d9;
    }
  }
}
