$board-color: #92d1ae;
$add-button-color: #1b9688;

$board-modal-bg: #a4bdfa;
$create-button-bg: #fcfa82;
$input-bg: #c8ddf3;
$input-border: #033e8c;

$raleway-font: 'Raleway', sans-serif;

$list-color: #95f1fa;
$list-button-color: #7890bf;

$card-bg: #9bbff8;

@mixin custom-font {
  font-family: $raleway-font;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@mixin input-error-active {
  border: 2px solid red;
  outline: none;
  margin: 5px;
  color: red;
}

@mixin input-styles($background, $border-color) {
  background: $background;
  border: 2px solid $border-color;
  outline: none;
  height: 26px;
  border-radius: 3px;
  color: white;
}

@mixin dark-bg {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

@mixin button-style($height, $width) {
  position: relative;
  height: $height;
  width: $width;
  background-color: $add-button-color;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include custom-font;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: white;
  }
}
