@mixin input-error-active {
  border: 2px solid red;
  outline: none;
  margin: 5px;
  color: red;
}

@mixin input-styles($background, $border-color) {
  background: $background;
  border: 2px solid $border-color;
  outline: none;
  height: 26px;
  border-radius: 3px;
  color: white;
}
