@use '../../../styles/index' as *;

.signup_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 235px;
  margin-bottom: 5px;
}

.input_container p {
  margin-bottom: 3px;
}

.signup_subtitle {
  margin-bottom: 20px;
}

.password_bar {
  border: 3px solid;
  border-radius: 5px;
  transition: all ease 1s;
  opacity: 0;
}

.red {
  opacity: 1;
  width: 25%;
  color: red;
}

.orange {
  opacity: 1;
  width: 50%;
  color: orange;
}

.yellow {
  opacity: 1;
  width: 75%;
  color: yellow;
}

.green {
  opacity: 1;
  width: 100%;
  color: rgb(75, 186, 53);
}

.signup_button {
  background-color: $list-button-color;
}

.error_message {
  @include error-message;
}

.transparent {
  @include transparent;
}

.signup_text {
  color: blue;
  cursor: pointer;
  margin-left: 5px;
}

.auth_toggle {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
