@import '../../../../styles/reset';
@import '../../../../styles/button';
@import '../../../../styles/variables';
@import '../../../../styles/font';

.list-item {
  background-color: $list-color;
  width: 230px;
  height: fit-content;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 10px;
  margin-right: 13px;
  vertical-align: top;
  @include custom-font;
}

.add-card-button {
  @include button-style(25px, 60%);
  margin-top: 12px;

  &:hover {
    color: white;
    width: 100%;
  }
}

.list-name {
  margin-bottom: 12px;
  display: block;
}
