@use '../../styles/index' as *;

.login_page {
  @include custom-font;
  font-size: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5dc;
}

.login_form {
  background: #95f1fa;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup_text {
  color: blue;
  cursor: pointer;
  margin-left: 5px;
}

.auth_toggle {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.transparent {
  opacity: 0;
}

button {
  @include button-style(auto, auto);
  width: fit-content;
  height: fit-content;
  padding: 4px 15px;
  background-color: #7890bf;
  margin-top: 5px;
}

.error_message {
  color: red;
  margin: 0;
}
