.drop_area {
  position: absolute;
  background-color: grey;
  border-radius: 7px;
  padding: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  line-height: 1.6;
  z-index: -1;
  top: 12px;
  transition: all 0.2s ease-in-out;
  margin: 2px 0;
  width: -webkit-fill-available;
  opacity: 0;
}

.first_drop {
  background-color: red;
  top: -25px;
}

.active_drop {
  z-index: 1;
}

.card_container {
  position: relative;
}

.last_drop {
  height: 240px;
  background-color: blue;
}
