@import '../../../../../styles/variables';

button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.addCard-form {
  margin-top: 15px;

  .close-button {
    width: 25px;
    height: 25px;
    background: #7890bf;
    transition: all 0.3s ease;

    &:hover {
      color: white;
    }
  }

  .add-button {
    width: auto;
    height: 25px;
    margin-right: 7px;
    background: #7890bf;
    transition: all 0.3s ease;

    &:hover {
      color: white;
    }
  }

  .actionButtons-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
  }

  input {
    border: none;
    background-color: #9bbff8;
    border-radius: 7px;
    height: auto;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 7px 0;

    &:focus {
      outline: none;
    }
  }
}

.add-card-button {
  background: $list-button-color;
}
