@import '../../../../styles/input';
@import '../../../../styles/variables';
@import '../../../../styles/dark-bg';

.dark-bg {
  @include dark-bg;
}

.modal {
  width: 250px;
  height: 180px;

  display: flex;
  flex-direction: column;

  background: $board-modal-bg;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  height: 50px;
  background: $board-modal-bg;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modal-content {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modal-actions {
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.create-button,
.cancel-button {
  width: fit-content;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 9px 18px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  transition: all 0.25s ease;
}

.create-button {
  background: $create-button-bg;

  &:hover {
    box-shadow: 0 10px 20px -10px rgba(231, 220, 104, 0.6);
  }
}

.cancel-button {
  background: #fcfcfc;

  &:hover {
    box-shadow: none;
    transform: none;
    background: whitesmoke;
  }
}

.board-name-input {
  @include input-styles($input-bg, $input-border);
  color: black;
}

.error-input:focus,
.error-input:hover {
  @include input-error-active;
  margin: 0px;
}

.error-message {
  margin: 5px;
  color: red;
}

.invisible {
  visibility: hidden;
}
